# vim: filetype=sh

#===============================================================================
# Virtual Environment Aliases
#===============================================================================

alias va='source venv/bin/activate'
alias vmk='python3.6 -m venv venv'

#===============================================================================
# Try to use Neovim everywhere vim would be used.
#===============================================================================

alias vim=nvim
alias vi=nvim

#===============================================================================
# Open web browser links
#===============================================================================

# All PRs for Turing
alias prs='browse_url "https://github.com/doberman/pearson-turing/pulls"'
# All PRs I created
alias prsm='browse_url "https://github.com/doberman/pearson-turing/pulls/timjstewart"'
# All PRs Waiting for me
alias prsw='browse_url "https://github.com/doberman/pearson-turing/pulls/review-requested/timjstewart"'
# Go to the asana Math Engine Kanban board.
alias asana='browse_url "https://app.asana.com/0/1118949317972979/board"'
# Go to the RAPS system.
alias raps='browse_url "http://34.83.31.248/admin/"'
# Go to my calendar
alias gcal='browse_url "https://calendar.google.com/calendar/r/week"'
# Go to my mail
alias gmail='browse_url "https://gmail.com"'

#===============================================================================
# Entr
#===============================================================================

alias entr_mypy='find . -iname "*.py" | entr -p mypy --ignore-missing-imports /_'
