snippet bc "Block Comment /** */"
/**
 * ${1:Comment}
 */
endsnippet

snippet hc "HTML Block Comment <!-- -->"
<!-- ***************************************************** -->
<!-- ${1:Comment}                                          -->
<!-- ***************************************************** -->
endsnippet
